

* { /* Reset all elements, Stern heisst wird auf ganze Seite angewendet */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #0E0E0E;
}

main{
    margin: 35px 35px 25px 35px;
}

section.titledesktop{
    display: none;
}

/* Container Home Page*/
.PageContainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

/* Container Quiz Page*/
.taglist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 12px 0px;
}

.tag{
    border: 1px solid #F1F1F1; 
    border-radius:20px;
    padding: 8px 25px;
    margin: 5px;
}

img{
    width: 100%;
    height:45vh;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 15px;
    /* filter: blur(5px); */
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.interactionlist{
    display: flex;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-around;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #0E0E0E;
    font-weight: 700;
    font-size: 14px; 
    text-decoration: none;
    font-style: normal;
    text-align: center;

    background-color: #F1F1F1;
    width: 100%;
    height: 30%;
    /* padding: 7% 0; */
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
}


/* Schrift */
/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Schrift Style Mobile */
h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  color: #F1F1F1;
  font-size: 27px;
}


p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #F1F1F1;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

/* Button */
.buttonStandard{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #0E0E0E;
    font-weight: 700;
    font-size: 1em; 
    text-decoration: none;
    background-color: #F1F1F1;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
}



/* Desktop - Media Querys - Diese CSS-Regeln gelten nur auf Desktops */
@media screen and (min-width: 900px) {

section.titlemobile{
    display: none;
}

section.titledesktop{
    display:block;
}




/* main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0;
}

section.title{
    margin-top: 12%;
    margin-right: 5%;
    margin-left: -5%;
}

h1{
    font-size: 3em;
    text-align: left;
}

.taglist{
    justify-content: left;
    margin-left: 0%;
}

section.description{
    margin-right: 5%;
    margin-left: -5%;
}

.interactionlist{
    margin-top: 4%;
    margin-right:5%;
    margin-left: -5%;
}

img{
    order:-1;
    height: 100vh;
    width: 50%;
    margin:0;
    border-radius: 0;
} */

}