/* Schrift  <weight>: value 100 bis 900*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { /* Reset all elements, Stern heisst wird auf ganze Seite angewendet */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--secondary-color); /* Schwarz */
}

main{
    margin: 35px 35px 25px 35px;
}

/* Farben */
:root {
    --primary-color: #F1F1F1; /* Weiß */
    --secondary-color: #0E0E0E; /* Schwarz */
    --accent-color: #26B439; /* Grün */
    --error-color: #f44336; /* Rot */
    --disabled-color: #707070; /* Grau */
}

/* Schrift Style Mobile */
h1{
  font-weight: 700;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
}

h2{
    font-weight: 400;
    font-size: 20px;
    color: var(--primary-color);
}

p{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color:var(--primary-color);
}

span{
    font-size: 27px;
    font-weight: 600;
    color: var(--primary-color);
}

/* Button Mobile*/
 a.buttonStandard {
    font-weight: 700;
    font-size: 1em;
    text-align: center;  
    text-decoration: none;
    margin-top: 50px;
    padding: 12px 24px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
} 

/* ------- Style Mobile Container Home Page ------- */
.pageContainer{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.pageContainer h1{
    margin-bottom: 5%;
}

.pageContainer p{
    margin-bottom: 5%;
}

/* ------- Style Mobile Container Quiz Page ------- */
.taglist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 12px 0px;
}

section.titledesktop{
    display: none;
}

.tag{
    border: 1px solid var(--primary-color); 
    border-radius:20px;
    padding: 8px 15px;
    margin: 5px;
}

.img-container img{
    width: 100%;
    height:45vh;
    object-fit: cover;
    border-radius: 16px;
    margin-bottom: 15px;
   filter: blur(40px);
}

/* Zustand nach Auswahl: Bild ohne Blur */
.sharp-edges.unblur {
  filter: none;
}


/* Das Bild darüber zeigt nur die Ränder */
img.sharp-edges {
  -webkit-mask-image: radial-gradient(circle, transparent 0%, black 0%);
  mask-image: radial-gradient(circle, transparent 0%, black 0%);
  pointer-events: none;
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.interactionlist{
    height: 25vh;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Quiz Button vor der Auswahl*/
.quiz-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-optical-sizing: auto;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px; 
    text-decoration: none;
    text-align: center;
    background-color: var(--primary-color);
    border:0px;
    width: 100%;
    height: 30%;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Quiz Standardfarben Button Zustände*/
.correct {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px; 
    text-decoration: none;
    text-align: center;
    background-color: var(--accent-color); /* Grün */
    color: var(--primary-color);
    width: 100%;
    height: 30%;
    border-radius: 60px;
}

.wrong {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px; 
    text-decoration: none;
    text-align: center;  
    background-color: var(--error-color); /* Rot */
    color:var(--primary-color);
    width: 100%;
    height: 30%;
    border-radius: 60px;
}

.disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px; 
    text-decoration: none;
    text-align: center;
    background-color: var(--disabled-color); /* Grau */
    color: var(--secondary-color);;
    pointer-events: none;
    opacity: 0.7;
    width: 100%;
    height: 30%;
    border-radius: 60px;
}

/* Mobile Overlay */
.hide {
  display: none !important;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.5);
  color: var(--primary-color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-overlay .circle {
  width: 80px;
  height: 80px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  margin-bottom: 20px;
}

/* ------- Style Mobile points --------*/

main.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin:0;
  padding: 10% 10%;
}

.points h1 {
  margin-bottom: 50px;
}

.circle-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

/*Grüner Kreis = Standart für richtig*/
circle {
  fill: none;
  stroke: var(--accent-color);
  stroke-width: 4;
  stroke-dasharray: 565.5;
  stroke-dashoffset: 565.5;
  animation: fill-quarter 1s ease forwards;
}

.red{
    stroke: var(--error-color);
}

@keyframes fill-quarter {
  to {
    stroke-dashoffset: 0; /* ca. 1/4 des Umfangs sichtbar */
  }
}

.number {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: var(--accent-color);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

.points p {
  margin-top: 40px;
  font-size: 16px;
}

.false {
    color: var(--error-color);
}
/*  ------- Style Score page  ------- */

main.score{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 10% 10%;
    margin:0
}

.score img{
    height: 25vh;
    margin-bottom: 5%;
}

section.resulttext h1{
    margin-bottom: 5%;
}

/* Media Querys - Diese CSS-Regeln gelten nur auf Desktops */
@media screen and (min-width: 900px) {

    /* ------ Desktop Schriften ------  */
    h1{
    font-size: 3em;
    }

    h2{
        font-size: 1.5em;
    }

    p{
        font-size: 1em;
    }

    /* ------ Desktop Home/index ------  */
    .startscreen{        
        align-items: center;
        justify-content: center;
    }
    .pageContainer h1{
    margin-bottom: 5%;
    font-size: 4em;
    }

    .pageContainer p{
    margin-bottom: 5%;
    }

    /* ------ Desktop Quiz ------- */
    section.titlemobile{
        display: none;
    }

    section.titledesktop{
        display:block;
    }

    main{
        display: flex;
        flex-direction: row;
        gap:5%;
        margin:0;
    }

    .img-container{
        width: 45%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
        margin:0;
    }

    section.right{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5%;
    }

    section.right h1{
        text-align: left;
        font-size: 4em;
    }

    .taglistdesktop{
        margin: 3% 0%;
        display:flex;
        flex-direction: row;
    }

    .description{
        margin-left:2%;
        font-size: 1em;
    }

    .interactionlist{
        margin-top:10%;
    }

    .quiz-button:hover{
        background-color: rgb(207, 207, 207);
        cursor: pointer;
    }

    a.buttonStandard:hover{
        background-color: rgb(207, 207, 207);
        cursor: pointer;
    }

    a.buttonStandard{
        margin-top: 2%;
        height: 7%;
        display: flex;
        align-items: center; 
        justify-content: center;
        cursor: pointer;
    }

     /* ------ Desktop points ------  */
     main.points{
        padding: 5% 10%;
    }

    /* ------ Desktop score ------ */
    main.score{
        padding: 5% 10%;
    }

    section.resulttext{
        width: 50%;
    }
}